.form-group {
  display: flex;
  background: rgb(49, 119, 218);
}

.input-gente {
  width: 50%;
}

.input-empleo {
  width: 50%;
}

.container-noticias {
  max-width: 900px;
  margin-left: 30%;
  height: 88vh;
}
.form-group input {
  padding: 10px;
}
