.form-group {
  display: flex;
  background: rgb(49, 119, 218);
}

.input-gente {
  width: 50%;
}

.input-empleo {
  width: 50%;
}

.container-noticias {
  max-width: 900px;
  margin-left: 30%;
  height: 88vh;
}
.form-group input {
  padding: 10px;
}

.items-anuncio {
  /* box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75); */
  border: 2px solid #1b1b1b;
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
}

.items-anuncio h1 {
  color: red;
}

.modal-text {
  width: 95%;
  min-height: 100px;
  border: 2px solid #1b1b1b;
  border-radius: 5px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
